nav > label > span{
  transition: all 0.5s ease 0s;
}

#navCheck:checked ~ label > span:nth-child(2){
  display: none;
}

#navCheck:checked ~ label > span:nth-child(1){
  transform: translateY(15px) rotate(-45deg);
}

#navCheck:checked ~ label > span:nth-child(3){
  transform: translateY(-15px) rotate(45deg);
}

nav > ul{
  height: calc(100dvh - 3rem);
  transition: all 0.5s ease 0s;

}

#navCheck:checked ~ ul{
  display: flex;
  opacity: 1;
  --tw-translate-x: 0%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.burger-animation{
  animation-name: burger-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: inherit;
}

@keyframes burger-animation{
  0%{
    background-color: red;
  }
  25%{
    background-color: transparent;
  }
  50%{
    background-color: red;
  }
  75%{
    background-color: transparent;

  }
  100%{
    background-color: red;
  }
}