.error-calculadora {
    background-color: red;
    position: fixed;
    height: 50px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    bottom: 10px;
  }
  
  .fixed {
    position: fixed;
  }
  
  .error-formulario {
    background-color: red;
    position: static;
    height: 27px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    bottom: 10px;
    color: white;
  }
  
  @media (min-width: 768px) {
    .error-calculadora {
      bottom: 300px;
    }
  }
  
  @media (min-width: 1024px) {
    .error-calculadora {
    bottom: 30px;
	}
}
  