:root {
    --primary-100: #1a2c5b;
    --primary-200: #495488;
    --primary-300: #a8b0eb;
    --accent-100: #3a4b7f;
    --accent-200: #cbd6ff;
    --text-100: #ffffff;
    --text-200: #e0e0e0;
    --bg-100: #0f1c3f;
    --bg-200: #212b50;
    --bg-300: #3b426a;
  }
  
  footer {
    position: fixed;
    bottom: 86px;
    width: 97dvw;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
  }
  
  @media (min-width: 768px) {
    footer {
      height: 340px;
    }
  
    button {
      font-size: 50px;
    }
  }
  
  @media (min-width: 1024px) {
    footer {
      z-index: -1;
      height: 125px;
    }
  
    button:hover {
      background-color: var(--primary-100);
      color: var(--accent-200);
      cursor: pointer;
      border-bottom: 2px solid var(--text-200);
      border-left: 2px solid var(--text-200);
    }
  }
  