
:root{
    --primary-100:#1A2C5B;
    --primary-200:#495488;
    --primary-300:#a8b0eb;
    --accent-100:#3A4B7F;
    --accent-200:#cbd6ff;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0F1C3F;
    --bg-200:#212b50;
    --bg-300:#3b426a;
      
}


.Formulario-salida{
  width: 100%;
  background-color: var(--accent-200);
  border-radius: 50px;
  padding-top: 10px;
  height: calc(100dvh - 120px);
}

.Formulario-salida .campo{
  display: flex;
  flex-direction: column;
}

.Formulario-salida label{
  font-size: 15px;
  width: 100%;
  text-align: center;
  color: var(--bg-100);

}

.Formulario-salida input[type='text']{
  height: 20px;
  background-color: var(--bg-300);
  color: var(--text-100);
  text-align: left;
}

.Formulario-salida p{
  color: var(--bg-100);
  text-align: center;
  margin: 0;
  padding: 5px;
}

.Formulario-salida input[type='submit']{
  background-color: var(--bg-100);
    padding: 20px;
    font-size: 15px;
    border-radius: 50px;
    text-align: center;
    width: 125px;
}
.campo{
  margin-top: 5px;
  padding: 0;
}


.closeBtn{
  height: 20px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.Formulario-salida img{
  max-height: 60px;
  width: auto;
  border-radius: 20px;
  bottom: 0;
  position: fixed;
  left: 0;
}

.avatar{
  display: none;
}


@media (min-width: 768px) {
    .avatar{
      display: block;
    }
  
    .globo{
      margin-left: 5px;
      margin-top: 20px;
      position: absolute;
      width: 115px;
      height: 88px;
      top: -104px;
      left: 60px;
      padding: 1.5em;
      border-radius: 2em;
      font-family: sans-serif;
      z-index: 1;
      background-color: var(--accent-200);
      filter: drop-shadow(0px 0px 1px black);
      color: var(--bg-100);
    }
    
    .globo::before{
      content: '';
      position: absolute; 
      z-index: -1;
      width: 10px;
      height: 10px;
      left: -5px;
      top: 97px;
      background-color: white;
      transform: skewX(45deg);
    }
  
    .bold{
      font-weight: bold;
    }
  
    .enlace{
      text-decoration: none;
      color: var(--bg-100);
    }

    .Formulario-salida{
    width: 80%;
    background-color: var(--accent-200);
    border-radius: 50px;
    padding-top: 10px;
    height: calc(100dvh - 460px);
    margin: auto;
    }

    .closeBtn{
      height: 60px;
      color: red;
    }
  }

  @media (min-width: 1024px) {
      .Formulario-salida{
        height: 435px;
        width: 600px;
        margin: auto;
      }

      .Formulario-salida .campo{
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-evenly;
        width: 100%;
      }

      .Formulario-salida label{
        width: 150px;
      }

      input[type='text']{
        width: 400px;
        text-align: right;
      }

      .closeBtn{
        height: 40px;
      }

      .closeBtn:hover{
        cursor: pointer;
      }


  }